<div class="container">
  <%= link_to 'New Comment', new_comment_path %> <br><br> <br>
  <h1>Recent Comments</h1><br>
  <% @comments.each do |c| %>
    <%= c.body %> <br>
    Comment added <%= time_ago_in_words(c.created_at) + ' ago by ' + c.user.name %><br><br><br><br>
    <% end %>
</div>
