
<div class="jumbotron ">
  <div class="text-center">
    <%= image_tag 'BigLogo.png', class: 'logo2' %> <br><br>
    <h2 id='buzz'>Create an account below and start sharing your photos with the world!</h2><br><br>
    <p>
    <%= link_to 'Create Account', new_user_path, class: 'btn btn-success btn-lg' %>
    </p>
  </div>
</div>

<div id='quote'>
  <p id='front'>"OMG, I'm so glad there is finally a website where I can post all of the cool photos that I
    take and also see what my friends have posted. I love Upldr!! BFF's 4 LIFE :-)"<br>
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;-Michele H, NYC</p>
</div>
