<h1>Welcome to this useless-ass website.</h1>
<br><br>
<h3>Current list of users in the database:</h3>
<ul class='nav'>
  <% @users.each do |u| %>
    <li><%= image_tag u.avatar.url(:thumb) %><%= u.name %></li>
    <% end %>
</ul>
