
<div class="jumbotron ">
  <div class="container">
    <h1>Welcome!</h1>
    <p>
      Welcome to my website :-)
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Log In »</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up! »</a>
    </p>
  </div>
</div>
