<div class="text-center">
  <h1>Edit Image</h1> <br>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render 'form' %>
  </div>
  <div class="col-md-3">
    <%= image_tag(@image.img.url(:medium)) %>
  </div>
</div>
