<div class="col-md-6 col-md-offset-3">
  <h1>Edit Image</h1>
<%= image_tag(@image.img.url(:medium)) %>
<%= render 'form' %>

<%= link_to 'cancel', images_path %>
<%= link_to 'Delete', image_path, method: :delete, data: { confirm: "Are you sure!" }%>

</div>
