<h1>Image Feed</h1>

<div class="container">
  <% @images.each do |i| %>
    <%= i.title.capitalize %> <br>
    <%= image_tag(i.image_url, size: '600x450', crop: 'fill') %> <br>
    Uploaded <%= time_ago_in_words(i.created_at) + ' ago by ' + i.user.name%><br>
    Description: <%= i.description %> <br>
    <br><br><br>
    <% end %>
</div>
