<h1>Image Feed</h1>

<div id='pins' class='transitions-enabled'>
  <% @images.each do |i| %>
      <div class="box panel panel-body">
    <%= link_to (image_tag(i.img.url(:medium))), edit_image_path(i.id) %>
      <div class="panel-body">
          Uploaded <%= time_ago_in_words(i.created_at) + ' ago by ' + i.user.name%><br>
          Description: <%= i.description %> <br>
          <% end %>
        </div>
    </div>
</div>
